body {
    background-color: #F5F5DC; 
    color: #8E7F6D; 
    font-family: Arial, sans-serif; 
    text-align: center; 
}

h1 {
    color: #8E7F6D; 
    margin-top: 20px; 
}

p {
    color: #D2BBA4; 
    margin: 20px; 
}
