body {
    background-color: #f7f3f0;
    color: #7b5b3a;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Joanna';
    src: url('Joanna-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #462b0b;
    font-size: 6em;
    font-family: 'Joanna', sans-serif;
    margin: 25px 0; /* Margin at top and bottom */
}

h2 {
    background-color: #ffffff;
    color: #2A1904;
    padding: 15px 30px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px;
    margin: 20px 20px 0 0; /* Adds consistent space between elements */
}

h2:hover {
    background-color: #9e846a;
}

h3 {
    margin-top: 100px;
    font-size: 3em;
}

p {
    color: #9e846a;
    margin: 25px 0; /* Consistent margin for paragraphs */
    font-size: 20px;
}

a {
    color: #2A1904;
    text-decoration: none; /* Removes underline from links */
}
